{% extends 'layout.njk' %}

{% block conteudo %}
    <div style="height: 72vh;width: 100%;display:grid;align-items:center">
        <h1 style="text-align:center">Não encontrei esta receira :/</h1>
    </div>
{% endblock %}