{% extends 'layout.njk' %}

{% block conteudo %}
    <div class="div-content">
        <div class="div-img">
            <img src="{{receita.id}}" alt="{{receita.titulo}}">
        </div>
    
        <div class="div-title">
            <h3>{{receita.titulo}}</h3>
            <p>{{receita.autor}}</p>
        </div>
    
        <div class="ingredientes">
            <div>
                <h3>Ingredientes</h3>
                <p id="esconder" >ESCONDER</p>
            </div>
            <ul>
                {% for ing in receita.ingredients %}
                    <li>{{ing}}</li>
                {% endfor %}
            </ul>    
        </div>
        <div class="modoPreparo">
            <div>
                <h3>Modo de preparo</h3>
                <p id="esconder">ESCONDER</p>
            </div>
            <ul>
                {% for ing in receita.preparation %}
                    <li>{{ing}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="infoAdc">
            <div>
                <h3>Informações adicionais</h3>
                <p id="esconder">ESCONDER</p>
            </div>
            <p>{{receita.information}}</p>
        </div>
    </div>
{% endblock %}